[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
fuzzytable = {path = "./dist/fuzzytable-0.8a0-py3-none-any.whl"}
names = "*"

[requires]
python_version = "3.8"
